# Data loading, storage and file formats
### using pandas library in python
Getting a data from the outsource is an important step to use the data manipulation tools in Data science. There are various ways in which one can load data along with various kinds of data formats.
In pandas there are different types of methods used to load different data formats, some of the following are:

* read_csv : This is the most commonly used data format and uses ' , ' (commas) as delimiter
* read_json : To load data that is in the json format
* read_html : This reads all the tables in the given html document
* read_excel , read_table, etc.

In [19]:
# to form a hierachical indexing you can insert two columns inside the index_col attritute while
# reading a csv file, or any file.
# for example:   pd.read_csv('data/ex1.csv', index_col = ['key1', key2])


# you skip unwanted rows in a csv file using the 'skiprows = ' attribute

# 'parse_dates' is used to parse date and time that are spreaded over a vast number of columns 
# it is false by default, it set to true, it will parse all the columns automatically or you can
# mention a list of column numbers or names specifically to parse

# to write a csv file manually using a deliminator you can do it using the 'writer' method present
# in the csv module.

import csv
with open('ex1.csv', 'w') as file:
    writer =  csv.writer(file, delimiter = ',')
    writer.writerow(('a', 'b', 'c', 'd', 'message'))
    writer.writerow((1, 2, 3, 4, 'hello'))
    writer.writerow((5, 6, 7, 8, 'world'))
    writer.writerow((9, 10, 11, 12, 'fefifofum'))
    
# the values while writing a csv file manually should be put in a tuple form

import pandas as pd

file = pd.read_csv('ex1.csv')
file

   a   b   c   d    message
0  1   2   3   4      hello
1  5   6   7   8      world
2  9  10  11  12  fefifofum

# JSON
There are various ways in which you can load a json file in the pandas: following of the some are shown below

In [20]:
# import json

# file = json.loads('file_name')  'json.loads' will return the data in dicts and lists format
# 'json.dumps' converts a python object back to JSON

# you can use 'pd.read_json()' (this aussumes that reach object in json is a row)

# HTML AND XML (Web Scraping)
In python there are various libraries used to get data from the html and xml documents present on the 
internet. This process is called web scraping 

## Pandas (pd.read_html) uses lxml and BeautifulSoup properties and automatically parses HTML tables as a Dataframe object (before using 'read_html' you will have to install BeautifulSoup and lxml libraries 
*pip install beautifulsoup4 html5lib* || *pip install lmxl*

In [23]:
# pd.read_html() by default searches for tables inside the <table> on the html pages

# dropna(how = 'all')  || similarly, for columns, pass axis = 1 || dropna(axis = 1, how = 'all')
## will only remove the rows that are all NaN