In [1]:
x = 2
y = 3
x + y

5

In [2]:
%time
def add_nums(a, b, c=None):
#     if c is None:
#         return a + b
#     else:
#         return a + b + c
    return a+b if c is None else a+b+c
# python ternary conditional operator^ (concise form of if)
# should only be used if its for true or false or one worded conditions, else it gets complicated.
# for example:    can_vote = True if age >= 18 else False
add_nums(10, 20)

Wall time: 0 ns

30

In [3]:
# this is sample csv reading and writing

import csv

%precision 2

# csvfile = open('data/mpg.csv')
# xpg = list(csv.DictReader(csvfile))
# xpg[:3]

with open('data/mpg.csv') as csvfile:
    xpg = list(csv.DictReader(csvfile))
len(xpg)

234

In [4]:
# to get the columns names we can use:

xpg[0].keys()

odict_keys(['', 'manufacturer', 'model', 'displ', 'year', 'cyl', 'trans', 'drv', 'cty', 'hwy', 'fl', 'class'])

In [5]:
# to get the average mpg in city of all cars:

sum(float(d['cty']) for d in xpg) / len(xpg)

# the above syntax is same as
# amt = list()
# for d in xpg:
#     amt.append(float(d['cty']))
# sum(amt) / len(xpg)

16.86

In [6]:
# this is the average highway economy

sum(float(h['hwy']) for h in xpg) / len(xpg)

23.44

In [7]:
# to get unique set of number, i.e not repeating the same numbers SET is used
# set is as same as a dictionary but without key value pairs
# there are only unique set of elements enclosed in " { } "

cylinders = set(c['cyl'] for c in xpg)
cylinders

{'4', '5', '6', '8'}

In [8]:
# average of every cylinder size with the cities

cylincty = []
for cy in cylinders:
    cylcount = 0
    mpgsum = 0
    for mp in xpg:
        if cy == mp['cyl']:
            mpgsum += float(mp['cty'])
            cylcount += 1
    cylincty.append((cy, (mpgsum / cylcount)))
cylincty.sort()
cylincty

[('4', 21.01), ('5', 20.50), ('6', 16.22), ('8', 12.57)]

In [9]:
# to find average highway mpg for different vehicle classes

carclass = set([cl['class'] for cl in xpg])
carclass

{'2seater', 'compact', 'midsize', 'minivan', 'pickup', 'subcompact', 'suv'}

In [10]:
# continued
import operator # you have to import operator in order to sort the multiple elements in the tuple

hwybyclass = []
for c in carclass:
    sumhwy = 0
    classcount = 0
    for h in xpg:
        if h['class'] == c:
            sumhwy += float(h['hwy'])
            classcount += 1
    hwybyclass.append((c, (sumhwy / classcount)))
hwybyclass.sort(key = operator.itemgetter(1)) # here the tuple is getting sorted using the second element
hwybyclass                                    # that is the index-1

[('pickup', 16.88),
 ('suv', 18.13),
 ('minivan', 22.36),
 ('2seater', 24.80),
 ('midsize', 27.29),
 ('subcompact', 28.14),
 ('compact', 28.30)]

# Pyhton Programming using Date and Time

In [11]:
# to use date and time in python two modules are accessed:

import datetime as dt
import time as tm

today = dt.datetime.now()
print(tm.time()) # gives the timestamp
# today = dt.datetime.fromtimestamp(tm.time())  # you can also get todays date&time using timestamp
print(today)
[(today.day, today.month, today.year), (today.hour, today.minute, today.second)]

# time delta module is used to estimate future and past date and time

print(dt.timedelta(days = 365, hours = 11, minutes = 30))
yearfromnow = str(dt.datetime.now() + dt.timedelta(days = 365))
yearfromnow

1611136846.8017864
2021-01-20 15:30:46.801786
365 days, 11:30:00

'2022-01-20 15:30:46.801786'

# Python programmming using classes and objects and map()

In [31]:
# to define a class, class keyword is used and the name of the class which should be in Camel case

class Student:
    uni = 'Pune University'
    
    def set_name(self, stud_name):
        self.name = stud_name
    def set_location(self, stud_loc):
        self.location = stud_loc

stud = Student()
stud.set_name('Soham Gade')
stud.set_location('Pune')
print(na)
print(f'{stud.name} living in {stud.location} studies at {stud.uni}')

None
Soham Gade living in Pune studies at Pune University

In [40]:
# map is using to pass a function in the map's parameters and iterators for the function to iterate 
# that is, it simultaneously executes the fuction on passed iterators

store1 = [11, 42, 53, 22, 1] # so even if there's 1, there is nothing to iterate in the second list.
store2 = [2, 7, 34, 100]     # thus map stops at 22.

ans = list(map(min, store1, store2)) # this compares the two lists simultaneously on the same index
print(ans)                           # that is, store1[0] and store2[0] is checked using min
# this goes till the shortest iterator

[2, 7, 34, 22]